---
---
<div class="py-12 flex justify-center w-full opacity-30">
  <svg width="200" height="20" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full max-w-sm">
    <path d="M0 100C30 95 70 105 100 100C130 95 170 105 200 100" stroke="white" stroke-width="2" stroke-linecap="round" class="animate-pulse" />
    <path d="M10 110C40 105 60 115 100 110C140 105 160 115 190 110" stroke="white" stroke-width="1" stroke-dasharray="4 8" stroke-linecap="round" opacity="0.5" />
  </svg>
</div>
